<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="John.S.Hughes@jpl.nasa.gov">Steve Hughes</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to run the LDDTool program. 
      </p>

      <p>Note: The command-line examples in this section have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
      </p>
    </section>

    <section name="Tool Execution">
<p>The execution steps are as follows:</p>
   <ol>
       <li>The input XML document is parsed and the contents are converted into SKOS records.</li>
      <li>The records are written out to a SKOS output file.</li>
      <li>The records are also written out to a PropertyMap file in XML format.</li>
   </ol>

      <subsection name="Command-Line Options">
        <p>The following table describes the command-line options available.
        </p>

        <p>Valid options are:</p>

        <table>
          <thead>
            <tr>
              <th>Command-Line Option</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>-f, --file</td>
              <td>indicates input file name(s) to follow. 
              </td>
            </tr>
            <tr>
              <td>-h, --help
              </td>
              <td>Print this message.
              </td>
            </tr> 
          </tbody>
        </table>

      </subsection>

      <subsection name="Execute Termmap">
        <source>
<b>If the host platform is a Mac or Unix system, type the following commands:</b>

cd  ./model-termmap-${project.version}/bin

termmap -f [inputfilename] > termmap.log

<b>If the host platform is a Windows system, type the following commands: </b>

cd .\model-termmap-${project.version}\bin

termmap.bat -f [inputfilename] > termmap.log

<b>Note:</b>  The input file to termmap is an XML document.
       The file name must be in the form:

         PDS4_&lt;namespace_id&gt;_&lt;steward_id&gt;_&lt;value_type&gt;_MAP_&lt;version_id&gt;.CSV
            e.g. PDS4_INSIGHT_DEEN_PDS3_MAP_1A00.CSV
                &lt;value_types&gt; can be {PDS3, VICR, NUANCE, ....} 

       The output files written by termmap are:
                  - an XML SKOS file, 
                  - an XML PropertyMap file. 
       All output files are generated in the "map" directory under current directory. 
       They bear the same name as the input file name.  
        </source>
      </subsection>
    </section>
  </body>
</document>
