# Installation

This document describes how to install the LDDTool contained in the _${project.artifactId}_ package. The following topics can be found in this document:

- [System Requirements](#system-requirements)
- [Unpacking the Package](#unpacking-the-package)
- [Configuring the Tool](#configuring-the-tool)
- [Configuring the Environment](#configuring-the-environment)

## System Requirements

This section details the system requirements for installing and operating the LDDTool.

### Java Runtime Environment

The LDDTool was developed using Java and will run on any platform with a supported Java Runtime Environment (JRE). The software was specifically compiled for Java version 1.8. The following commands test the local Java installation in a UNIX-based environment:

```
% which java
/usr/bin/java

% java -version
java version "1.8.0_91"
Java(TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.91-b04, mixed mode)
```

The first command above checks whether the _java_ executable is in the environment's path and the second command reports the version. If Java is not installed or the version is not at least 1.8, Java will need to be downloaded and installed in the current environment. Consult the local system administrator for installation of this software. For the do-it-yourself crowd, the Java software can be downloaded from the [Oracle Java Download](http://www.oracle.com/technetwork/java/javase/downloads/) page. The suggested software package is the Java Standard Edition (SE) 8, either the JDK or the JRE package. The JDK package is not necessary to run the software but could be useful if development and compilation of Java software will also occur in the current environment.

## Unpacking the Package

Download the _lddtool_ package from [Github](https://github.com/NASA-PDS-Incubator/pds4-information-model/). The distribution is available in identical zip or tar/gzip packages. The installation directory may vary from environment to environment but in UNIX-based environments it is typical to install software packages in the _/usr/local_ directory and in Windows-based environments it is typical to install software packages in the _C:\Program Files_ directory. Unpack the distribution file with one of the following commands:

```
% unzip lddtool-${project.version}-bin.zip
or
% tar -xzvf lddtool-${project.version}-bin.tar.gz
```

Note: Depending on the platform, the native version of _tar_ may produce an error when attempting to unpack the distribution file because many of the file paths are greater than 100 characters. If available, the GNU version of tar will resolve this problem. If that is not available or cannot be installed, the zipped package will work just fine in a UNIX environment.

The commands above result in the creation of the _lddtool-${project.version}_ directory with the following directory structure:

- **README.txt**

  A README file directing the user to the available documentation for the project.

- **LICENSE.txt**

  The copyright notice from the [California Institute of Technology](http://www.caltech.edu/) detailing the restrictions regarding the use and distribution of this software. Although the license is strictly worded, the software has been classified as Technology and Software Publicly Available (TSPA) and is available for _anyone_ to download and use.

- **bin/**

  This directory contains batch and shell scripts for executing the tool.

- **doc/**

  This directory contains the LDDTool documentation.

- **lib/**

  This directory contains the executable jar files for the tool.

- **Data/**

  This directory contains the dependent data files that LDDTool requires.

- **Schemas/**

  This directory contains the schema files generated by the tool.

- **Examples/**

  This directory contains the examples files generated by the tool.

## Configuring the Environment

In order to execute the LDDTool, the local environment must first be configured appropriately. This section describes how to setup the user environment on UNIX-based and Windows machines.

### UNIX-Based Environment

This section details the environment setup for UNIX-based machines. The binary directory includes a couple shell scripts that must be executed from the command-line. Setting the _PATH_ environment variable to the location of the scripts, enables the shell scripts to be executed from any location on the local machine.

The following command demonstrates how to set the _PATH_ environment variable (in Bourne shell), by appending to its current setting:

In addition, the shell scripts require that the _JAVA_HOME_ environment variable be set to the appropriate location of the Java installation on the local machine. The following command demonstrates how to set the _JAVA_HOME_ environment variable:

```
% export JAVA_HOME=/path/to/java/home
```

The system administrator for the local machine may need to be consulted for this location. The path specified should have a _bin_ sub-directory that contains the _java_ executable. This variable may also be defined within the scripts. Edit the scripts (files without the .bat extension) and change the line in the example above to represent the local Java installation.

### Windows Environment

This section details the environment setup for Windows machines. The distribution includes a couple batch scripts that must be executed from the command-line. Setting the _PATH_ environment variable to the location of the files, enables the batch scripts to be executed from any location on the local machine.

The following command demonstrates how to set the _PATH_ environment variable, by appending to its current setting:

```
C:\> set PATH = %PATH%;C:\Program Files\lddtool-${project.version}\bin
```

In addition, the batch scripts require that the _JAVA_HOME_ environment variable be set to the appropriate location of the Java installation on the local machine. The following command demonstrates how to set the _JAVA_HOME_ environment variable:

```
C:\> set JAVA_HOME = C:\path\to\java\home
```

The system administrator for the local machine may need to be consulted for this location. The path specified should have a _bin_ sub-directory that contains the _java_ executable. This variable may also be defined within the scripts. Edit the scripts (files with the .bat extension) and change the line in the example above to represent the local Java installation. Additional methods for setting Windows environment variables can be found in the [Windows System Properties](index-win.html) document.

### Installation Location

Both the shell and batch scripts for this software utilize system commands for determining the installation home directory that may or may not be available on all platforms. If these commands are not available in the current environment, their use can be replaced in the scripts by setting the _PARENT_DIR_ variable with the actual installation path. Modify the UNIX-based shell scripts as follows (the actual installation path may be different in the current environment):

```
SCRIPT_DIR=`dirname $0`
PARENT_DIR=`cd ${SCRIPT_DIR}/.. && pwd`

  should be replaced with:

PARENT_DIR=/usr/local/lddtool-${project.version}
```

Modify the Windows-based batch scripts as follows (the actual installation path may be different in the current environment):

```
set SCRIPT_DIR=%~dps0
set PARENT_DIR=%SCRIPT_DIR%..

  should be replaced with:

set PARENT_DIR=C:\Program Files\lddtool-${project.version}
```
