<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>About Local Data Dictionary Tool</title>
    <author email="John.S.Hughes@jpl.nasa.gov">Steve Hughes</author>
  </properties>

  <body>
    <section name="About LDDTool">
      <p>The PDS4 Local Data Dictionary Tool (LDDTool) parses a local data dictionary definition file and generates PDS4 data standard files. A local data dictionary at the discipline level is required to be ingested. A dictionary at the mission level can optionally be ingested. These new dictionaries augment the common model and have their own stewards and unique namespaces. The audience includes personnel at PDS discipline and data nodes, principal investigators and their staffs, and ground data system engineers. The tool will be most useful to people who have prior experience with the PDS Information Model and modeling practices. 
      </p>

    </section>
    
    <section name="PDS4 Standards and LDDTool Versions">
      <p>LDDTool is currently not backwards compatible with older versions of the PDS4 Standards.</p>

      <p>The following lists all previous versions of LDDTool. It is recommended you use the latest version of the PDS4 Standard and LDDTool wherever possible,
        however, the versions below will tie the applicable PDS4 Standards verson to the necessary LDDTool Version.
      </p>
      
      <p>If you are unsure of what version to use for the version of the information model you are using, please contact the <a href="mailto:pds_operator@jpl.nasa.gov">PDS Operator</a> for assistance at pds_operator@jpl.nasa.gov.</p>

      <p><b>NOTE: As of LDDTool v12.0.0 (October 2020), the software supports generating LDDs with past versions of the PDS4 Information Model. You are encouraged to use the latest version of LDDTool to ensure you receive the latest enhancements to the software.</b></p>

      <p>
        <table>
          <tr><th>PDS4 Standards Version</th><th>Applicable LDDTool Version</th></tr>
          <tr><td>1.14.0.0 (1E00) and greater</td><td><a href="https://github.com/NASA-PDS/pds4-information-model/releases/download/v${project.version}/lddtool-${project.version}-bin.tar.gz">current</a></td></tr>
          <tr><td>1.13.0.0 (1D00)</td><td><a href="https://nasa-pds.github.io/pds4-information-model/10.1.2/model-lddtool/index.html">10.1.2</a></td></tr>
          <tr><td>1.12.0.0 (1C00)</td><td><a href="https://pds-engineering.jpl.nasa.gov/development/pds4/9.1.0/model/model-lddtool/index.html">9.1.0</a></td></tr>
          <tr><td>1.11.0.0 (1B00)</td><td><a href="https://pds-engineering.jpl.nasa.gov/development/pds4/9.0.0/model/model-lddtool/index.html">9.0.0</a></td></tr>
          <tr><td>1.10.0.0 (1A00)</td><td><a href="https://pds-engineering.jpl.nasa.gov/development/pds4/8.1.0/model/model-lddtool/index.html">8.1.0</a></td></tr>
          <tr><td>1.9.0.0 (1900)</td><td><a href="https://pds-engineering.jpl.nasa.gov/development/pds4/8.0.0/model/model-lddtool/index.html">8.0.0</a></td></tr>
          <tr><td>1.8.0.0 (1800)</td><td><a href="https://pds-engineering.jpl.nasa.gov/development/pds4/7.1.0/model/model-lddtool/index.html">7.1.0</a></td></tr>
          <tr><td>1.7.0.0 (1700)</td><td><a href="https://pds-engineering.jpl.nasa.gov/development/pds4/7.0.0/model/model-lddtool/index.html">7.0.0</a></td></tr>
          <tr><td colspan="2">For earlier versions or questions, please email <a href="mailto:pds-operator@jpl.nasa.gov">pds-operator@jpl.nasa.gov</a> for assistance.</td></tr>
        </table>
      </p>
      
    </section>
    
    <section name="Support">
      <p><b><i>Found a bug?</i></b> Or <b><i>want a new feature?</i></b> would love your feedback and contributions. Here are some links to our public Github repository for submitting issues, contributing documentation, or
        code updates:</p>
      
      <ul>
        <li>Issue Tracker: <a href="https://github.com/NASA-PDS/pds4-information-model/issues">https://github.com/NASA-PDS/pds4-information-model/issues</a></li>
        <li>Source Code: <a href="https://github.com/NASA-PDS/pds4-information-model/">https://github.com/NASA-PDS/pds4-information-model</a></li>
      </ul>
      
      <p>Any other additional feedback, please contact us at <a href="mailto:pds_operator@jpl.nasa.gov">pds_operator@jpl.nasa.gov</a>.
      </p>
      
      <p></p>
    </section>
  </body>
</document>
